@import '../../../styles/variables';
.my-page-container {
  background-image: url(../../../project-images/tim-marshall-vWKbNUNzc1s-unsplash.jpg);
  height: 100vh;
}

.my-page-container h1, h2{
  font-family: 'Shadows Into Light', cursive;
  font-weight: 100;
  
}

.my-page-container .card {
  background-color: transparentize($color: #2F4454, $amount: 0.4);
  border-style: none;
  border-radius: 0;
  width: fit-content;
  box-sizing: content-box;
  font-family: 'Lato',sans-serif;
  font-size: 1.0em;
  font-weight: 200;
  color: white;
  transition: 0.3s;
  .new-form-toggle-button {
    background-color: transparentize($color: #000000, $amount: 1);
    border-style: none;
  }
  .update-form-toggle-button {
    background-color: transparentize($color: #000000, $amount: 1);
    border-style: none;
    color: $rosy-pink;
  }

}

.my-page-container .card:hover {
  background-color: $rosy-pink;
  .update-form-toggle-button {
    color: white;
  }
}

.my-page-container .card h2 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  color: white;
  
}

.my-page-container .card-header {
  border-style: none;
  width: 100%;
}