@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '../../../styles/variables';

.second-component-holder {
  background-color: transparentize($color: #C38D9E, $amount: 0.2);
  padding: 1em 1em 1em 1em;
  margin-right: 2em;
}

.all-page-container h1 {
  font-family: 'Lato',sans-serif;
  font-weight: 900;
}

.all-page-container .box {
  background-color: transparentize($color: #2F4454, $amount: 0.4);
  border-style: none;
  width: 33%;

}
.all-page-container .box h3 {
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  color: white;
}

.all-page-container .card-header {
  border-style: none;
  width: 100%;
}