.new-form-toggle-button {
  background-color: transparentize($color: #000000, $amount: 1);
  border-style: none;
}
.update-form-toggle-button {
  background-color: transparentize($color: #000000, $amount: 1);
  border-style: none;
  color: black;
}